*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1f1713;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header input{
    width: 40%;
    height: 45px;
    border: none;
    border-radius: 25px;
    padding: 0 20px;
    background-color: #ddd8d6;
    font-size: 16px;
}

h1{
    font-size: 80px;
    color: #4a3128;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.calendario{
    width: 80%;
    margin: auto;
    border-spacing: 0 20px;
}

.calendario th{
    padding-bottom: 10px;
}

.linha{
    background-color: #7b655a;
}

.linha td{
    padding: 10px;
}

.linha td div{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}