:root {

    --color-marca: #6b4732;
    --color-titulo: #2f1e17;
    --color-texto: #7a655b;
    --color-fundo-claro: #f3efeb;
    --color-fundo-escuro: #1f1713;
    --color-contato: #c49e7a;

    --font-titulo: "Fjalla One", sans-serif;
    --font-texto: "Roboto", sans-serif;

}


* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


body {

    font-family: var(--font-texto);

    min-height: 100vh;

    background-color: var(--color-fundo-claro);

}


/* ================================= */
/* CABEÇALHO                         */
/* ================================= */

.header {

    width: 100%;
    height: 60px;

    background-color: var(--color-fundo-escuro);

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 25px;

}


.header-left {

    display: flex;

    align-items: center;

    gap: 20px;

}


.pagina-nome {

    color: white;

    font-family: var(--font-titulo);

    font-size: 20px;

}


/* ================================= */
/* BOTÃO HAMBÚRGUER                  */
/* ================================= */

.menu-button {

    width: 35px;
    height: 35px;

    border: none;

    background: transparent;

    cursor: pointer;

    display: flex;

    flex-direction: column;

    justify-content: center;

    gap: 5px;

    padding: 5px;

}


.menu-button span {

    display: block;

    width: 25px;

    height: 3px;

    background-color: white;

    border-radius: 2px;

}


.logo img {

    width: 70px;

}


/* ================================= */
/* LAYOUT                            */
/* ================================= */

.layout-wrapper {

    display: flex;

    width: 100%;

    min-height: calc(100vh - 60px);

}

/* ================================= */
/* CONTEÚDO                          */
/* ================================= */

.main-content {

    flex: 1;

    padding: 40px;

    min-width: 0;

}


.main-content h1 {

    font-family: var(--font-titulo);

    color: var(--color-titulo);

    font-size: 42px;

    text-align: center;

    margin-bottom: 40px;

}


/* ================================= */
/* CARDS                             */
/* ================================= */

.container {

    width: 100%;

    max-width: 1000px;

    margin: 0 auto;

    display: flex;

    flex-direction: column;

    gap: 20px;

}


.card {

    width: 100%;

    min-height: 110px;

    background-color: #806e64;

    border: 3px solid var(--color-titulo);

    border-radius: 8px;

    display: flex;

    align-items: center;

    padding: 20px;

}


.icon {

    width: 100px;

    font-size: 45px;

    text-align: center;

}


.info {

    flex: 1;

    text-align: center;

}


.info h2 {

    color: white;

    font-family: var(--font-titulo);

    font-size: 28px;

}


.info p {

    color: white;

    font-size: 18px;

    margin-top: 8px;

}