:root {
    --color-marca: #6B4732;
    --color-titulo: #2F1E17;
    --color-texto: #7A655B;
    --color-fundo-claro: #F3EFEB;
    --color-fundo-escuro: #1F1713;
    
    --font-titulo: 'Fjalla One', sans-serif;
    --font-texto: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fundo-claro);
    font-family: var(--font-texto);
    color: #ffffff; 
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fundo-escuro);
    padding: 0 30px;            
    height: 60px;            
    width: 100%;
}

.header .left {
    display: flex;
    gap: 20px;
}

.header .left i {
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.2s;
}

.header .left i:hover {
    opacity: 0.8;
}

.header .logo {
    display: flex;
    align-items: center;
    width: 100px; 
}

.header .logo img {
    display: block;
    height: 80%;                
    max-height: 50px;          
    width: auto;                
    object-fit: contain;    
}


header {
    text-align: center;
    padding: 30px 20px 20px 20px;
}

header h1 {
    font-family: var(--font-titulo);
    font-size: 76px;
    color: var(--color-titulo);
    font-weight: 400;
    margin-bottom: 20px;
}



.procurar-input {
    width: 250%;
    padding: 12px 48px; 
    border-radius: 25px; 
    border: none;
    background-color: #E6DFD9; 
    font-family: var(--font-texto);
    font-size: 15px;
    color: var(--color-texto);
    outline: none;

}




.container-cards {
    max-width: 750px; 
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.card-trem {
    background-color: var(--color-titulo); 
    padding: 20px 25px;
    border-radius: 8px; 
}

.card-trem h3 {
    font-family: var(--font-titulo);
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
}

.card-trem p {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 400;
    color: #EAEAEA; 
}

.card-trem p strong {
    font-weight: 500;
    color: #ffffff;
}

.titulo{
    font-family: var(--font-titulo); 
    color: var(--color-titulo);     
    font-size: 76px;                
    font-weight: 400;               
    text-transform: capitalize;     
    letter-spacing: -1px;           
    margin-bottom: 25px;
    margin: auto;
    text-align: center;
}



#pesquisa_bar{
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 20px;
    background: #ddd8d6;
    width: 100%;
    padding: 10px 10px 10px 40px;  
}



.barra-pesquisa{
    width: 30%;
    margin: 20px auto;
    position: relative;
}



.lupa{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.microfone{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}
